<!-- Jumbotron -->
     <div class="jumbotron">
      <div class="container">
        <div class="row">
          <span class="span6">
             <h1>Come Correct Crew</h1>
            <div class= "pull-right">
              <h1> Shanghai </h1> 
            </div>  
           </span>  
           <div class="col-sm-6">
              <h1> </h1>
            </div>  
        </div>
        <div class= "row">
          <div class=col-md-4>
            <p class="lead">China's top Dj's</p>
            <p class="lead">Email us or check out our events calender</p>
            <p class="lead">
              <a class="btn btn-default btn-lg" href="#">Email</a>
              <a class="btn btn-default btn-lg" href="#">Events</a>
            </p>
          </div>
          </div>
        </div>
      </div>
    </div><!-- End Jumbotron -->
  
<!-- Main Content -->
    <div class="container">

      <div class="row ft">
        <div class="col-sm-6 hidden-xs">
          <div class="ft-icon camera img-rounded"></div>
        </div>
        <div class="col-sm-6 ft-copy">
          <h2>Check out our upcomming events</h2>
          <p>
            Learn how to write the code that downloads and displays messages, photos, and videos that timeout after a few seconds. Then create the code that deletes them from the back-end to make them "self destruct."
          </p>
        </div>
      </div>

      <div class="row ft">
        <div class="col-sm-6 ft-copy">
          <h2>Photo gallery </h2>
          <p>
            "backend-as-a-service" platform. Explore the user account management APIs provided by Parse.com and write the code to create and save a new user in a Parse.com data store. 
          </p>
        </div>
        <div class="col-sm-6 hidden-xs">
          <div class="ft-icon friends img-rounded"></div>
        </div>
      </div>
      <div class="row ft">
        <div class="col-sm-6 hidden-xs">
          <div class="ft-icon cloud img-rounded"></div>
        </div>
        <div class="col-sm-6 ft-copy">
          <h2> Art Shop</h2>
          <p>
            We'll teach you how to upload images, video files, and messages to Parse.com's cloud servers. Then learn how to retrieve the data by setting up custom queries that download and display them in the app. 
          </p>
        </div>
      </div>

       <!-- Panel -->
      <div class="panel panel-default hidden-xs">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <form>
              <p><strong>Email us for reservations</strong></p>
              <label class="sr-only">Email Address</label>
              <input class="form-control phone-txt" type="text" placeholder="Email">
              <button class="btn btn-submit" type="submit">
                <span class="glyphicon glyphicon-arrow-right"></span>
              </button>
            </form>
          </div>
          <div class="col-sm-5">
            <p><strong>checkout our upcomming events</strong></p>
            <a class="btn btn-default btn-lg"  href="#">Events</a>
            <a class="btn btn-default btn-lg"  href="#">Email</a>
          </div>
        </div>
      </div><!-- End panel -->
      
    <!-- Come Correct Content -->
      <div class="row"> 
        <div class="col-sm-6 hidden-xs">
          <h3>Click to play our video</h3>
          <p class="copy-offset">
            Let me know what you want to go here and I will put it. This is an imbeded you tuby video of on a boat .
          </p>
          <div class="row th-copy">
            <div class="col-md-10">
              <a data-toggle="modal" href="#videoModal">
                <img class="img-responsive img-rounded" src="assets/comecorrectcrew_youtube.png">
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <h2> Meet the Crew</h2>
          <p>
             provides an extensive library of step-by-step video courses and training exercises that will give you a wide range of in-demand technology skills that will help you land your next dream job.
          </p>
          <div class="row th-copy hidden-xs">
            <div class="col-sm-6">
              <img class="img-responsive img-circle" src="assets/dj.png">
            </div>
            <div class="col-sm-6">
              <p class="teacher-desc th-copy">
                <strong>Come Correct Crew</strong>
                <span>DJ Caution</span></br>
                <span>DJ Bubba</span></br>
                <span>DJ Sally</span>
              </p>
            </div>
          </div>
        </div>

      </div><!-- End Come Correct Content -->
    <div class="modal fade" id="videoModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Come Correct in Shanghai</h4>
          </div>
          <div class="modal-body">
            <iframe width="520" height="281" src="//www.youtube.com/embed/hXdDhmtCziQ" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>    
    <!-- End Video Modal -->
     

    
