// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	background-image: url('djacaution.png');
	background-repeat: no-repeat;
	background-position:  100% 100%;
	padding: 100px 0 140px 0;
	margin-bottom: 70px;
}